body {
    margin: 0;
    padding-top: 50px; 
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f3f3f3;
}
button{
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}
button:hover{

    background: linear-gradient(to right, #ff5722, #ff9800);
    transform: scale(1.05);
}
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    color: white;
    z-index: 1000;
    height: 30px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover{
    color: #ff9800;
}
.auth {
    display: flex;
    align-items: center;
    margin-right: 40px;
}




.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 15px 30px;
    font-size: 18px;
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.category-box {
    width: 220px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.category-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.category-box h3 {
    margin-top: 10px;
    font-size: 18px;
}


footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
