body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    padding: 10px;
    background: #333;
    color: white;
}
h1{
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: #f4f4f4;
}
button{
    background: linear-gradient(to right, #ff9800, #ff5722);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}
button:hover{

    background: linear-gradient(to right, #ff5722, #ff9800);
    transform: scale(1.05);
}

#conf-btn{
  width: 80%;
  margin: auto;
}

#cart-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

#cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}



#order-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#order-form label {
    font-weight: bold;
    text-align: left;
}

#order-form input {
    width: 90%;
    margin-right: 40px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}